---
layout: page
title: Breeding2
---

{% for cats in site.data.breeding %}
{% assign cat = cats[1] %}

<header>
	<h2>{{ cat.name }}</h2>
</header>
<section>
	<span class="image 4u left"><img src="{{ cat.img }}" alt=""/></span>
	<div style="overflow: auto;">
		<ul>
			<li><b>Breed</b>: {{ cat.breed }}</li>
			<li><b>Sex</b>: {{ cat.sex }}</li>
			<li><b>Color</b>: {{ cat.color }}</li>
			<li><b>Birth</b>: {{ cat.birth }}</li>
			{% for row in cat.tests %}
			<li>
				<b>{{ row.name }}</b>: {{ row.result }}
			</li>
			{% endfor %}		
			<li><b>Breeder</b>: {{ cat.breeder }}</li>
		</ul>
	</div>
	{% for row in cat.sections %}
	<div class="row">
		<p>{{ row.p }}</p>
	</div>
	{% endfor %}		
</section>
<hr />
{% endfor %}
